<IfModule mod_rewrite.c>
    RewriteEngine On

    # Exclude existing files, directories, or symbolic links from rewriting
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    # Rewrite rules for specific folders to their respective index.html files
    RewriteRule ^agent-details/(.*)?$ /agent-details/$1.html [L]
    RewriteRule ^profile-edit(.*)?$ /profile-edit/$1.html [L]
    RewriteRule ^project-details/(.*)?$ /project-details/$1.html [L]
    RewriteRule ^project-edit/(.*)?$ /project-edit/$1.html [L]
    RewriteRule ^property-crm-schedule/(.*)?$ /property-crm-schedule/$1.html [L]
    RewriteRule ^property-details/(.*)?$ /property-details/$1.html [L]
    RewriteRule ^property-edit/(.*)?$ /property-edit/$1.html [L]

    # Fallback rule for single-segment URLs to map to .html files
    RewriteRule ^([^/]+)$ /$1.html [L]
</IfModule>
