/* Menu Trigger Button */
.menu-trigger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
  
/* Prevent unwanted content from showing */
  .menu-trigger::before,
  .menu-trigger::after {
    content: none;
}

.menuHidden{
  display: none;
}
.mm-wrapper--opened .menuHidden{
  display: block;
}

/* Menu Styling */

#menu a {
  text-decoration: none;
}

#menu a:hover {
  background-color: #eee;
}
.mm-btn--next:after, .mm-btn--prev:before{
  border-width: 1px;
}
.mm-btn--prev:before {
  inset-inline-start: 0;
}
.mm-listitem__btn{
  height: auto;
}
.mm-listitem svg{
  color: #777;
}
.mm-wrapper--position-left .mm-slideout, .mm-wrapper--position-right .mm-slideout{
  transform: none;
}
