/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache


public/amenity_image
public/category_image
public/subCategory_image
public/testimonial_image
public/memberUser_image
public/property_images
public/profile_image
resources/views/Admin/layouts_for_testing
package-lock.json
next-app/package-lock.json
next-app/package-lock.json
public/project_images
public/user_upload